@font-face {
    font-family: digital-7;
    src: url("/font/digital-7.ttf");
}

@keyframes blinkingText {
    0%{     color: transparent;    }
    49%{    color: red; }
    60%{    color: red; }
    99%{    color:transparent;  }
    100%{   color: transparent;    }
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30pt;
    /* background-color: #333; */
    background-color: #FAFAFA;
    overflow: hidden;
}

button:focus {
    outline: none;
}

/* .title {
    font-size: 30pt;
    text-align: center;
    color: #ffffff;
} */

.timer-container {
    /* display: flex; */
    position: absolute;
    justify-content: center;
    align-items: center;
    /* height: 50vh;
    width: 40vw; */
    height: auto;
    top: 50vh;
    width: 400px;
    left: 50vw;
    transform: translate(-50%, -60%);
}

/* .timer-container p{
    color: #ffffff;
} */

.top-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.top-content button {
    cursor: pointer;
}

.session-statement {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 25pt;
    margin: 0;
}

.timer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-size: 56pt;
    font-family: digital-7;
}

#hamburger-icon {
    position: fixed;
    top: 0;
    padding-top: 10px;
    padding-left: 10px;
    height: 40px;
    width: 30px;
    opacity: 0.6;
}

#hamburger-icon:hover {
    cursor: pointer;
    opacity: 0.8;
}

.settings {
    opacity: 0;
    pointer-events: none;
}

.settings.active {
    opacity: 1;
    align-items: center;
    pointer-events: auto;
}

.settings.active p {
    justify-content: center;
    text-align: center;
}

.settings-title {
    margin-bottom: 0;
}

.work-settings, .break-settings {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Replace buttons with icons from font-awesome */
.settings.active button {
    cursor: pointer;
    text-align: center;
}

.timer-container.inactive {
    opacity: 0.05;
    pointer-events: none;
}

.session-time, .break-time {
    padding: 0px 10px;
}

/* .timer {
    font-family: digital-7;
    color: red;
} */
/* 
#colon {
    animation: blinkingText 1.5s infinite;
} */


